@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700|Satisfy');

.test_row{
    border: 2px red solid;
}

body{
    margin: 0;
    padding: 0;
}
.container{
    font-family: "Roboto", sans-serif;
    padding: 0px!important;
}

/*HEADER*/
.banner{
    min-height: 100px;
    background-color: #33CCFF;
    padding: 0;
}

.row{
    margin-bottom: 0px;
}

.title-logo{
    color:white;
}

.title_line1, .title_line3{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.title_line2{
    font-family: 'Satisfy', cursive;
    padding-left: 30px;
    font-size: 30px;
}

.title_line3{
    font-family: "Roboto", sans-serif;
    padding-left: 110px;
}

.picture-logo img{
    max-width: 60%;
    float: right;
}

/*NAVIGATION & TITLE*/
.nav-wrapper a, .nav-mobile,.sidenav li>a{
    color: #33CCFF;
}
nav{
    background-color: white;
}

nav ul a, .register, .row_title a{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: black;
}

.logout{
    font-family: "Roboto", sans-serif;
}

.row_title a{
    font-size: 17px;
}

.sidenav{
    width:200px!important;
}

h3, h4{
    font-weight: bold;
    font-family: "Satisfy", cursive;
}
/*BOOKS*/

.img-holder img {
  width: 100px;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.book-content, .book-picture, .book_rating, .book_description{
    margin-top: 50px;
}

.star_icon{
    float:left;
    color: #FFDF00;
}

.row.no-gutters.col-12.mt-3 > div:nth-child(3) > p > strong{
    font-size: 16px;
}

.book-content{
    padding-left: 20px!important;
}

.row_title{
    font-size: 22px;
}

.row_author, .row_description{
    font-size: 14px;
}

.single_book_picture img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

.card-image img{
    display: block;
    width: 20%!important;
    height: 20%;
}

button.btn.del {
    background-color:transparent; 
    color: tomato;
    border: 1px solid tomato;
    font-family: "Roboto", sans-serif;
}
    .btn.del:focus, .btn.del:hover {
        background-color:red;
        color: white;
        border: white;
   }

       .btn.edit:focus, .btn.edit:hover {
        background-color:white;
        color: #5cb85c;
        border: 1px #5cb85c solid;
   }
   .welcome{
       color:#33CCFF
   }


/*PAGINATION*/	

.next:hover,.previous:hover{
    background-color: #4CAF50;
    color: white!important;	
}

.page_buttons.btn:focus{
    box-shadow: none;
}


/*STAR RATING SYSTEM*/
        .star{
          color: goldenrod;
          font-size: 2.0rem;
          padding: 0 0.7rem; /* space out the stars */
        }
        .star::before{
          content: '\2606';    /* star outline */
          cursor: pointer;
        }
        .star.rated::before{
          /* the style for a selected star */
          content: '\2605';  /* filled star */
        }
        
        .stars{
            counter-reset: rateme 0;   
            font-size: 2.0rem;
            font-weight: 900;
        }
        .star.rated{
            counter-increment: rateme 1;
        }
        .stars::after{
            content: counter(rateme) '/5';
            font-family: "Roboto", sans-serif;
            visibility: hidden;
            
        }

        .breadcrumb{
            background-color: white!important;
            color: #33CCFF;
        }

        .bread_head a{
            color: grey;
        }

/*PICTURE GRID*/

.indexrow img {
    margin-left: 14px;
}

.view_more a{
     text-transform: uppercase;
     color: #33CCFF!important;
     margin-left: 14px;
     font-size: 12px;
}

.indextitle{
    margin-left: 14px;
}




/*FORMS*/
button.btn.form {
    background-color:#33CCFF; 
    color: white;
    font-family: "Roboto", sans-serif;
}
    .btn.form:focus, .btn.form:hover {
        background-color: white;
        color:#33CCFF;
        border: 2px solid #33CCFF;
   }
   /* label focus color */
   .input-field input:focus + label {
     color:#33CCFF!important;
     font-weight: bold;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid #33CCFF!important;
     box-shadow: 0 1px 0 0 #33CCFF!important;
   }
   /* valid color */
   .input-field input.valid {
     border-bottom: 1px solid #33CCFF!important;
     box-shadow: 0 1px 0 0 #33CCFF!important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red!important;
     box-shadow: 0 1px 0 0 red!important;
   }
   /* icon prefix focus color */
   .input-field .prefix {
     color: #33CCFF!important;
   }
.form_book{
    margin: 0px 30px!important;
}

.dropdown-content li>span, .select-wrapper input.select-dropdown{
    color:black;
    font-family: "Roboto", sans-serif;
}

a.edit_icon, a.delete_icon{
  color:black;
  position: relative;
  padding-left: 15px;
  left: 35%;
}

.required{
    color: darkgrey;
}

.reset{
    color:darkgray;
}




/*-----------------------------------------------------------------------------------------------------------------------*/
/*MEDIA QUERIES*/

@media (min-width:576px) {
    .title_line1, .title_line3{
        font-size: 35px;
}

.title_line2{
    padding-left: 50px;
    font-size: 40px;
}

.title_line3{
    padding-left: 160px;
}

.picture-logo img{
    max-width: 50%;
}

}

@media (min-width:768px) {

.picture-logo img{
    max-width: 40%;
}

h3.title{
    font-size: 32px;
}

.img-holder img {
    width: 150px;
    height: 200px;
}


.row_title{
    font-size: 24px;
}

.row_author, .row_description{
    font-size: 16px;
}
a.edit_icon, a.delete_icon{
  left: 43%;
}

.indexrow img {
    margin: 20px 0px 0px 60px;
}

.view_more a{
     margin-left: 60px;
}

.indextitle{
    margin-left: 60px;
}

}

@media (min-width:1024px) {
.title_line1{
        padding-left: 60px;
}

.title_line2{
    padding-left: 100px;
}

.title_line3{
    padding-left: 200px;
}

.picture-logo img{
    max-width: 30%;
    margin-right: 100px;
}

h3.title{
    font-size: 38px;
}

.row_title a{
    font-size: 18px;
}

.img-holder img {
    width: 150px;
    height: 200px;
}

a.edit_icon, a.delete_icon{
  left: 45%;
}
.sidenav{
    width:119px!important;
}

.indexrow img {
    margin-left: 120px;
}

.view_more a{
     margin-left: 120px;
}

.indextitle{
    margin-left: 120px;
}
}


@media (min-width:1206px) {

.picture-logo img{
    max-width: 25%;
}

.row_series, .row_genre{
    padding-top: 10px;
}

.row_author, .row_amazon{
    padding-top: 25px;
}

.genre_filter{
    visibility: hidden;
}

.sidenav.sidenav-fixed{
    transform:translate(0px,246px)!important;
    box-shadow: none!important;
}

.indexrow img {
    margin-left: 180px;
}

.view_more a{
     margin-left: 180px;
}

.indextitle{
    margin-left: 180px;
}

}


@media (min-width:1459px) {

.picture-logo img{
    max-width: 20%;
}

.img-holder img {
    width: 200px;
    height: 300px;
}
.sidenav.sidenav-fixed{
    transform:translate(0px,233px)!important;
}

.indexrow img {
    margin-left: 120px;
}

.view_more a{
     margin-left: 120px;
}

.indextitle{
    margin-left: 120px;
}
}
@media (min-width:1600px) {
.sidenav.sidenav-fixed{
    transform:translate(0px,264px)!important;
}

)
