{% extends 'base.html' %}
{% block content %}

{% for genre in genres %}
<div class="row no-gutters col-12 text-align-center mt-5">
	<h3 class="title">{{ genre.genre_name }}</h3>
</div>


{% for book in books %}
{% if book.genre_name == genre.genre_name %}
<a href="{{url_for('book', book_id=book._id)}}" class="img-holder indexrow">
	<img src="{{book.picture}}" alt="{{book.title}}">
        </a>

	{% endif %}
	{% endfor %}
	<div class="view_more"><a href="#">View More of this Genre</a></div>
	{% endfor %}


	{% endblock %}