{% extends 'base.html' %}
{% block content %}
<div class="row col-12 mx-auto mt-5">
	<h3 class="title mx-auto">Welcome Back!</h3>
</div>
<div class="row col s9 mt-4">
	<form action="{{url_for('user_auth')}}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons circle prefix">email</i>
				<input id="email" type="email" name="email" class="validate" required>
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 mt-5">
				<i class="material-icons circle prefix">https</i>
				<input id="password" type="password" name="password" class="validate" required>
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row no-gutters col-12">
			<a href="{{url_for('get_registered')}}" alt="Register here if you are new">New here? Create an account!</a>
		</div>
		<div class="row no-gutters col-12">
			<a href="{{url_for('reset_password')}}" alt="Link to reset password" class="reset">Forgot your password?</a>
		</div>
		<button class="btn form right mt-4" type="submit">Login
            <i class="material-icons prefix">local_library</i>
        </button>
	</form>
</div>


{% endblock %}