{% extends 'base.html' %}
{% block content %}
<div class="row no-gutters col-12 mx-auto mt-5">
	<h3 class="title mx-auto">Create Account</h3>
</div>
<div class="row col s9 mt-4">
	<form action="{{url_for('get_registered')}}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">account_box</i>
				<input id="first" type="text" name="first" class="validate" required>
				<label for="first">First Name*</label>
			</div>
			<div class="input-field col s12">
				<input id="last" type="text" name="last" class="validate" required>
				<label for="last">Last Name*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">email</i>
				<input id="email" type="email" name="email" class="validate" required>
				<label for="email">Email*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">https</i>
				<input id="password" type="password" name="password" class="validate" required>
				<label for="password">Password*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">https</i>
				<input id="password_2" type="password" name="password_2" class="validate" required>
				<label for="password_2">Re-enter Password*</label>
			</div>
		</div>
		<p class="required right">* Required field</p>
		<div class="row no-gutters col-12">
			<a href="{{url_for('login')}}" alt="Login if you are already registered">Already a user? You can login
				here!</a>
		</div>
		<button class="btn form right mt-4" type="submit">Create
            <i class="material-icons prefix">add_box</i>
        </button>
	</form>

</div>


{% endblock %}