{% extends 'base.html' %}
{% block content %}
<div class="row no-gutters col-12 mx-auto mt-5">
	<h3 class="title mx-auto">Change Password</h3>
</div>
<div class="row col s9 mt-4">
    <!--using a form to get the email address to be able to find the password of the user in question in order to change it-->
	<form action="{{url_for('reset_password')}}" method="POST" class="col s12">
		<div class="row">
            <!--user has to fill in his email address as its username-->
			<div class="input-field col s12">
				<i class="material-icons prefix">email</i>
				<input id="email" type="email" name="email" class="validate" required>
				<label for="email">Email*</label>
			</div>
		</div>
		<div class="row">
            <!--user has to set his new password, which will be hashed before saved to the database-->
			<div class="input-field col s12">
				<i class="material-icons prefix">https</i>
				<input id="password" type="password" name="password" class="validate" required>
				<label for="password"> New Password*</label>
			</div>
		</div>
		<div class="row">
            <!--user has to re-enter its new password to make sure their aren't any typo's-->
			<div class="input-field col s12">
				<i class="material-icons prefix">https</i>
				<input id="password_2" type="password" name="password_2" class="validate" required>
				<label for="password_2">Re-enter New Password*</label>
			</div>
		</div>
        <!--to let the user know what the required field are to fill in-->
		<p class="required right">* Required field</p>
        <!--if the user already has an account, and remembers its password, the user gets redirected to the login page-->
		<div class="row no-gutters col-12">
			<a href="{{url_for('login')}}">Remember your password? You can login
				here!</a>
		</div>
        <!--the button to submit the data filled in by user so the new password can be saved to the database-->
		<button class="btn form right mt-4" type="submit">Reset
            <i class="material-icons prefix">add_box</i>
        </button>
	</form>

</div>


{% endblock %}